<div class='page'>
  {{! <header class='header'>
    <button class='button'>
      <img
        src='/svg/header_back.svg'
        width='24px'
        height='24px'
      />
    </button>

    <button class='button'>
      <img
        src='/img/header_avatar.png'
        width='24px'
        height='24px'
      />
    </button>
  </header>

  <h1 class='title'>Коммьюніті</h1> }}

  {{! <div class='nav__buttons'>
    <button href='#' class='button line'>База знань</button>
    <button href='#' class='button line'>Інформація</button>
  </div> }}

  {{!-- <main class='post__list'>

    <img src='/img/community.png' />

    {{! <div class='post'>

      <span class='post__header'>Що таке база знань?</span>

      <p class='post__info'>База знаний — база данных,
        содержащая правила вывода и информацию о
        человеческом опыте и знаниях в некоторой предметной
        области. В самообучающихся системах база знаний
        также содержит информацию, являющуюся результатом
        решения предыдущих задач.
      </p>
    </div> }}
  </main> --}}
  {{! 
  <div class='button button__come'>Перейти до ком'юніті у
    Телеграм</div> }}

</div>